.opacity{
    filter: opacity(0.9);
}
a:hover {
    transform: scale(1.07);
    cursor: pointer;
    filter: brightness(100%);
}

.toggle_click{
    background-color: rgb(105, 34, 171);
    color: white;
    border: 1px solid white;
}